/*---------------------
    Hardware Gallery
-----------------------*/
.hardware-agllery-area {
    background-color: #f7f7f7;
    padding: 115px 0 90px 0;
}
.hardware-masonary-gallery {
    .single-hardware-item {
        margin-bottom: 30px;
    }
}